@media handheld, only screen and (max-width: 600px), only screen and (max-device-width: 600px) {

    /* NavBar */
    nav {
        width: 100px;
        font-size: 10px;
        background: aqua;
    }
    #navbar{
        line-height: 16px; 
        padding: 4px 6px; 
        overflow: hidden;
        
    }
    #navbar > a {
        display: flex;
        height: 30px;  
        align-items: center;
        justify-content: left;
        padding: 0 10px 0 13px;
        color: #cacaca;
    }
    #navbar > a:hover {
        color: #23aaf2; 
    }
    #navbar > #active {
        color: #14638d;
        background-color: #0F0;
        border: 1px solid #933;
    }
    #navbar > #active:hover {
        background-color: #300;
    }
}